h1 {
  color: #19071F !important; /*color morado oscuro para títulos h1 (# solo) */
}

h2 {
  color: #300D38 !important; /*color morado para subtítulos h2 (##) */
}

h3 {
  color: #4B0082 !important; /*color morado para subtítulos h2 (##) */
}

.co {
  color: purple !important; /*color morado para comentarios de texto dentro del bloque de código */
}

/* Estilo SOLO para el código en línea en párrafos, listas de puntos y listas numéricas */
p code, li code, ol code {
  color: black !important;
  background-color: #E6E6FA !important; /* Violeta clarito */
  padding: 2px 4px;
  border-radius: 3px;
  font-family: monospace;
}

/* Mantengo los bloques de código transparentes */
pre code {
  background-color: transparent !important;
  padding: 0;
}

body {
  font-size: 16px !important; /* Para que sea legible la letra en la presentación */
  line-height: 1.7;           /* Aumento espacio entre líneas para que se vea menos apretado */
  color: #1B1B1B;             /* Un gris casi negro, más suave para la vista */
}

/* Color de los enlaces y referencias (figuras, tablas, links) */
a {
  color: #4B0082 !important; /* Mismo tono morado que el título */
  text-decoration: none;      /* Quita el subrayado */
}